@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292931 url("../assets/winter_scene.png") no-repeat center center fixed;
    background-size: cover;
}
.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: fixed;
    bottom:0px;
}



.wrapper {
    height: 200px;
    width: 80%;
    background: #292931 url("../assets/Untitled\ design\ \(4\).png");
    background-size: cover;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 0;
    /* border:2px solid green; */
    bottom: -50px;
}

.lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

/* Lid when closed */
.lid.one {
    background: #292931 url("../assets/Untitled\ design\ \(5\).png");
    background-size: cover;
    transform: rotateX(0deg);
    z-index: 3;
    transition-delay: 0.75s;
}

/* Lid when opened */
.lid.two {
    border-top: 100px solid #e5dfdf;
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
}

.envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #C4DFF0;
    border-bottom: 100px solid #C4DFF0;
    border-left: 150px solid #a4d4f2;
    z-index: 3;
}

.letter {
    position: absolute;
    top: 0;
    width: 90%;
    /* height: 80%; */
    height: 700px;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    border: 10px solid white;
    transition: 0.5s;
    background: #292931 url("../assets/image-03.webp") no-repeat center center fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    /* align-items: center; */
}


#container {
    /* background: rgba(0, 0, 0, 0.367); Dark transparent background */
    background: rgba(182, 213, 228, 0.649);
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 1.1rem;
    color: black;
    /* font-family: "Macondo", cursive; */
    padding: 10px;
    border-radius: 15px;
    position: relative;
    top: 100px;
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;

}

/* .wrapper:hover .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.wrapper:hover .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
}

.wrapper:hover .letter {
    transform: translateY(-500px);
    transition-delay: 0.5s;
} */

#to{
    text-align: left !important;
    margin: 5px;
    font-size: 0.9rem; 
}
#from{
    text-align: left !important;
    margin: 5px;
    font-size: 0.9rem; 
}


#subject {
    margin: 5px;
    font-size: 1.4;
}

#backButton{
position: fixed;
left:0;
top:0;
margin: 10px;
cursor: pointer;
}
#sendButton{
position: fixed;
right: 0;
top:0;
margin: 10px;
cursor: pointer;
}

/* Fullscreen loading screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.9);  /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it stays on top */
  }
  
  /* HTML: <div class="loader"></div> */
  .loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
    font-size: 30px;
    line-height: 1.2em;
    height:1.2em;
    overflow: hidden;
    color:white;
  }
  .loader:before {
    content:"Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔"; 
    white-space: pre;
    display: inline-block;
    animation: l39 1s infinite steps(11) alternate;
  }
  
  @keyframes l39 {
    100%{transform: translateY(-100%)}
  }

@media (max-width: 460px) {

    #container {
      
        top: 50px;
        font-size: 0.9rem;
     
    }

    .letter {


        width: 95%;
        height: 900px;


    }

    .wrapper:hover .letter {
        transform: translateY(-600px);
        transition-delay: 0.5s;
    }

    .wrapper {
        height: 200px;
        width: 95%;
        background: #292931 url("../assets/Untitled\ design\ \(4\).png");
        background-size: cover;
        position: fixed;
        display: flex;
        justify-content: center;
        z-index: 0;
        /* border:2px solid green; */
        bottom: -100px;
    }

    #to{
        text-align: left !important;
        margin: 5px;
        font-size: 0.7rem; 
    }
    #from{
        text-align: left !important;
        margin: 5px;
        font-size: 0.7rem; 
    }

}